<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to the camera so you can capture a profile image.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to your photo library so you can choose a profile image.</string>
</dict>
</plist>
